# Compiled documents
Report*.pdf
Report.dvi
Report.ps
Report.out.ps
Title_pages_example.pdf
Title_pages_example.dvi
Title_pages_example.ps
Title_pages_example.out.ps
Test.pdf
Test.dvi
Test.ps
Test.out.ps
Test2.pdf
Test2.dvi
Test2.ps
Test2.out.ps

# Compiled tikz images
Report-figure*.pdf
*.dpth

# Miscellaneous files
*.auxlock